@use "colors"
@use "sass:color"

$gap: 0.5em
#main
    align-items: center

    > #search
        width: 100%
        padding: $gap
        background: colors.$crust
        border-radius: $gap
        > input
            background: transparent
            border: none
            color: white
            font-size: 1.1em
            width: 100%

    > #results
        height: 100%
        width: 100%
        overflow: hidden
        display: flex
        flex-direction: column
        flex: 1
        > #table
            border-radius: $gap
            display: flex
            flex-direction: column
            flex: 1
            border-collapse: collapse
            overflow: scroll

            background: colors.$crust

            thead
                flex: 0 0 auto
                display: table
                width: 100%
                table-layout: fixed
                background-color: colors.$base
                user-select: none

            tbody
                flex: 1 1 auto
                display: block
                width: 100%
                overflow-y: scroll
                overscroll-behavior-y: none

            tbody tr
                display: table
                width: 100%
                table-layout: fixed

            tbody, td
                border-collapse: collapse
                border-left: 2px solid colors.$base
                border-right: 2px solid colors.$base

            th, td
                padding: 8px
                text-align: center
                width: 200px

            tr:nth-child(even)
                background-color: color.adjust(colors.$base, $lightness: -5%)

            .col-id
                max-width: 4em

            .col-durations
                min-width: 4em

    #error
        color: red
