<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add,home" />
    <link rel="stylesheet" href="/assets/styles/base.css">
    <link rel="stylesheet" id="page-css" {{ format_page_css() | safe }}>

    <script src="/assets/scripts/base.js" defer></script>

    <title>OATMILK</title>
</head>

<body>
    <div id="sidebar">
        <span id="home" class="button material-symbols-outlined" hx-get="/search" hx-trigger="click" hx-target="#main"
            hx-replace-url="true">home</span>
        <span id="new" class="button material-symbols-outlined" hx-get="/new" hx-trigger="click" hx-target="#main"
            hx-replace-url="true">add</span>
        <div class="vspacer"></div>
        {% include "logo.html" %}
    </div>
    <main id="main" hx-replace-url="true">{{ content | safe }}</main>
</body>

</html>