{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/styles/index.css">
{% endblock %}

{% block content %}
<div id="sidebar">
    <span class="button material-symbols-outlined">home</span>
    <span class="button material-symbols-outlined">add</span>
    <div class="vspacer"></div>
    {% include "logo.html" %}
</div>
<main id="main">
    <div id="search">
        <input id="query" name="query" type="text" placeholder="Query media... literally just raw sql rn"
            hx-get="/search" hx-trigger="load, input changed delay:500ms" hx-target="#results" hx-include="#query">
    </div>
    <div id="results"></div>
</main>
{% endblock %}